$main-color: #e02f6b;
$blue: #0000ff;
$dark-blue: #18293c;
$orange: #ffa500;
$greenish-yellow: #cddc39;
$light-pink: #efa2b4;
$light-cyan: #aef1ee;
$alpha-white-40: rgba(255, 255, 255, 0.4);
$alpha-white-25: rgba(255, 255, 255, 0.25);
$backdrop-filter: blur(5px);
